<ion-grid >
  <ion-row>
    <ion-col>
      <mat-card>
        <ion-row>
          <h1>Bienvenido a TeleBurguer</h1>
        </ion-row>
        <ion-row>
          <p class="ion-text-justify">
          En TeleBurguer podrás encontrar las mejores hamburguesas de la ciudad.
          Contamos con una selecta cantidad de hamburguesas de diferentes tipos y tamaños,
          con opciones para todo el mundo. Mira nuesta carta y procede a añadir los productos
          a tu carrito.
          </p>
        </ion-row>
      </mat-card>
    </ion-col>
    <ion-col>
      <ion-img src= "assets/img/restaurante.jpg"></ion-img>
    </ion-col>
  </ion-row>

</ion-grid>


